<!-- <div class="row m-2 p-2 ">
<div class="card border-success mb-3 mx-auto" style="max-width: 18rem;">
    <div class="card-header border-success bg-info text-center">Login</div>
     <div class="card-body ">
     <div class="form-group row">
        <label class="col-lg-4">Username</label>
        <div class="col-lg-8">
            <input type="text" name="username" placeholder="Username" class="form-control">
        </div>
     </div>
     <div class="form-group row">
        <label class="col-lg-4">Password</label>
        <div class="col-lg-8">
            <input type="text" name="Password" placeholder="Password" class="form-control">
        </div>
     </div> -->
    <!-- </div>
    <button class= "bg-info text-center">Login</button>
  </div>
</div> --> 


<div class="row m-2 p-2">
<div class="card text-center mx-auto ">
    <div class="card-header bg-info">
      Login
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-lg-4">Username</label>
            <div class="col-lg-8">
                <input type="text" name="username" placeholder="Username" class="form-control">
            </div>
         </div>
         <div class="form-group row">
            <label class="col-lg-4">Password</label>
            <div class="col-lg-8">
                <input type="text" name="Password" placeholder="Password" class="form-control">
            </div>
         </div> 
    </div>
    <div class="card-footer text-muted">
        <button class="bg-info"> Login</button>
   
    </div>
  </div>
</div>