
<div class="row mx-auto col-md-4 p-2">
<form class="bg-info border border-info">
    <div class="form-row ">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Username</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Username">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Address">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Email</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Email">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
              <label class="form-check-label" for="gridRadios1">
                Male
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                Female
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
              <label class="form-check-label" for="gridRadios3">
                Others
              </label>
            </div>
          </div>
        </div>
      </fieldset>
    <button type="submit" (click)="saveClick()"data-target="#saveModal"class="btn btn-primary">Register</button>
  </form>
</div>


<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
   
      <div class="modal-body">
          
<div class="form-group">
  <input [(ngModel)]="newRegister.name" class="form-control " type="text" placeholder="Name">
  <input [(ngModel)]="newRegister.password" class="form-control" type="text" placeholder="password">
  <input [(ngModel)]="newRegister.address" class="form-control" type="text" placeholder="Address">
  <input [(ngModel)]="newRegister.email" class="form-control" type="text" placeholder="Email"> 
  <input [(ngModel)]="newRegister.city" class="form-control" type="text" placeholder="City"> 
  <input [(ngModel)]="newRegister.state" class="form-control" type="text" placeholder="State">
  <input [(ngModel)]="newRegister.gender" class="form-control" type="text" placeholder="Gender">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="saveClick()" class="btn btn-success" data-dismiss="modal">Register</button>
      </div>
    </div>
  </div>
</div>